body {
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.green-color {
    color: green;
}

h1 {
    font-size: 50px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.contact {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    background-image: linear-gradient(green, yellow);
    color: white;
    font-weight: 900;
}

.experence-item {
    width: 40%;
    padding: 5%;
    box-shadow: 10px 20px 40px gray;
    margin-left: 30px;
    margin-right: 20px;
}

#border {
    border-left: 10px solid;
    border-image: linear-gradient(cyan, green);
    border-image-slice: 1;
}

#Uk {
    border-left: 10px solid;
    border-image: linear-gradient(yellow, orange);
    border-image-slice: 1;
}

.experience-area {
    background-image: url(Images/Hill.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

footer p {
    text-align: center;
}